@import"vars";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
header{
    background-color:$colorPrimario;
    padding: 5px;
        .navbar-collapse{
        justify-content: end;
        }
        .navbar-dark .navbar-nav .nav-link{
        color: #fafff5;
        font-size: 20px;
        margin: 0 4px;
        }
        .navbar-dark .navbar-nav .nav-link:active{
        color: rgba(22, 22, 22, 0.966);
    }
    .logo_nav:hover{
        filter: blur(0.5px);
        filter: saturate(5);
        opacity: 0.8;
        transition: 0.8s;
        transform: rotate(360deg);
    }
}
body{
    background-color:#945c962a;
}
.caja__banner{
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align:center;
    .banner{
        height: 344px;
    }
}
.banner__movil{
    display: none;
}
@mixin whatsapp {
    position: fixed;
    right: 10px;
    bottom: 25px;
}
.whatsapp__container{
    @include whatsapp;
    img{
        width: 70px;
        &:hover{
        filter: brightness(1.2);
        transform: scale(1.1);
        transition: 0.5s;
        }
    }
}
.titulo__index{
    font-size: 35px;
    border-radius: 20px;
    margin: 20px;
    border: groove rgb(120, 128, 122);
    color: #f0f3f7;
    font-weight: 100;
    text-align: center;
    background-color: $colorPrimario;
    padding: 20px;
}
.marcas__titulo{
    @extend .titulo__index;
}
.servicios{ 
        div{
    display: flex;
    flex-wrap: wrap;  
    margin: 5px;
    justify-content: center;
    }
    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        perspective: 1000px;
        border-radius: 20px;
    }
    .flip-card-back {
        background-color: rgb(10, 133, 65);
        color: white;
        transform: rotateY(180deg);
        p{
            padding: 15px 15px 0px 15px;
        }
    }
    .flip_titulo{
        padding: 20px;
        font-size: 25px;
        color: #25aa6c;
    }
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    .flip-card-front {
        background-color: rgba(0, 0, 0, 0);
        background-image: url(../img/flip_cards/formateo-pc-300x300.png);
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 20px;
        border: solid green 1px;
    }
    .flip-card-front {
        background-color: rgba(0, 0, 0, 0);
        background-image: url(../img/flip_cards/formateo-pc-300x300.png);
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .limpieza {
        background-color: rgba(0, 0, 0, 0);
        background-image: url(../FlipCard/flip_cards/limpieza-interna-pc-300x300.png);
    }
    .actualizacion{
    
        background-color: rgba(0, 0, 0, 0);
        background-image: url(../FlipCard/flip_cards/actualizacion-pc-300x300.png);
    }
    .instalacion__so{
        background-color: rgba(0, 0, 0, 0);
        background-image: url(../FlipCard/flip_cards/instalacion-so-pc-300x300.png);
    }
    .baño__quimico{
        background-color: rgba(0, 0, 0, 0);
        background-image: url(../FlipCard/flip_cards/baño-quimico300x300.png);
    }
    .almacenamiento__pc{
        background-color: rgba(0, 0, 0, 0);
        background-image: url(../FlipCard/flip_cards/cambio-de-disco-rigido-300x300.png);
        background-position: bottom;
        background-size: 250px;
    }
    .pack__office{
        background-color: rgba(0, 0, 0, 0);
        background-image: url(../FlipCard/flip_cards/office-pc-300x300.png);
    }
}
.marcas{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 55px;
}
.marcas__celular{
    display: none;
}

html, body {
    width: 100%;
    height: 100%;
}
.footer_fix{
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
}

footer{
    background-color: #62AC04;
    display: flex;
    padding: 15px;
    margin-top: 20px;
    color: white;
    justify-content: space-between;
    .texto__footer{
        padding: 20px 0px;
        margin: 0 45px;
    p{
        font-size: 18px
        }
    .medios_de_pago_footer{
            font-size: 35px;
            .pagos_icon{
            color: rgb(247, 247, 247);
            }
        }
    }
    .map_container_footer{
        padding: 20px 0px;
        margin: 0 45px;
        .map__footer{
            padding: 5px 0px;
            width: 700px;
            height: 400px;
            border-radius: 21px;
        }
    }
}
.redes__container{
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    .icon__footer{
        margin: 0px 3px;
        font-size: 35px;
        color: rgb(43, 43, 43);
        &:hover{
            color:#62AC04;
        }
    }
        & a{
        text-decoration: none;
    }
}
.bajo__footer{
    background-color: #646463;
    color: white;
    justify-content: space-between;
    display: flex;
        p{
    margin: 0px 5px;
    padding: 5px
    }
}
@import "medias";